#table-header {
    background-color: #A7C7E7;
}

tr {
    background-color: #07f379;
    margin-bottom: 5px;
}

#table-default {
    padding: 2%;
}

#font-color {
    font-size: 16px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px #07f379,
    2px 2px 2px #07f379,
    2px 2px 2px #07f379,
    2px 2px 2px #07f379,
    2px 2px 2px #07f379,
    2px 2px 2px #07f379;
}