#label-header {
    background-color: #40866b;
}

label {
    background-color: #955eee;
    margin-bottom: 5px;
}

#label-default {
    padding: 2%;
}

#font-color {
    font-size: 16px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px #955eee,
    2px 2px 2px #955eee,
    2px 2px 2px #955eee,
    2px 2px 2px #955eee,
    2px 2px 2px #955eee,
    2px 2px 2px #955eee;
}